$green: #2CA544;
$greenLight: #40C859;
$orange: rgb(221, 120, 49);
$orangeLight: rgb(246, 147, 44);
$blue: #8FD6EA;
$blueLight: #2EA7DC;
$light: #BEECFE;
$grey:#718096;
$greyLight:#A0AEC0;
$red: #E53E3E;
$redLight: #F56565;