body{
  background-image: url(../images/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding:  0 15px;
}
._vr{
  margin-bottom: 40px;
  width: 100%;
}
.flex{
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
@media (max-width: 980px){
  .flex{
   flex-direction: column;
  }
}